@media screen and (min-width: 950px) {
    .header, .footer, .wrap, .homer {
        width: 950px;
        margin: 0 auto 50px auto;
    }
}

.header, .footer, .wrap {
    padding: 0 10px;
}

.homer {
    margin: 0 auto;
    background: #e6e6e6;
    border: 1px solid #999;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    text-align: right;
}

.header {
    text-align: center;
}
.footer {
    text-align: center;
    padding: 10px 0;
    font-size: 11px;
    color: #888;
}

.post-list {
    list-style-type: none;
    padding-left: 50px;
    margin: 0;
}
.post-list-item {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #d90000;
}
a:visited {
    color: #d90000;
}
a:hover {
    color: #ff4c4c;
    -webkit-transition: color 400ms ease;
    -moz-transition: color 400ms ease;
    -o-transition: color 400ms ease;
    transition: color 400ms ease;
}

body {
    color: #222;
    background: #f8f8f8;
}

.pull-left {
    float: left;
}