<!doctype html>
<html>
<head>
    {% if page.title %}
    <title>{{ page.title }}</title>
    {% endif %}

    <meta charset="utf-8"> 
    {% for meta in page.metas %}
    <meta name="{{ meta.name }}" content="{{ meta.content }}">
    {% endfor %}

    <link href="/favicon.png" rel="shortcut icon" type="image/png"/>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

    <link rel="stylesheet" type="text/css" href="/media/css/normalize.css">
    {% for css_href in page.css_hrefs %}
    <link rel="stylesheet" type="text/css" href="{{ css_href }}">
    {% endfor %}
    {% for script_src in page.script_srcs %}
    <script type="text/javascript" src="{{ script_src }}"></script>
    {% endfor %}

    <script type="text/javascript">
      function trackOutboundLink(link, category, action) {
        try {
          _gaq.push(['_trackEvent', category , action]);
        } catch(err){}

        setTimeout(function() {
          document.location.href = link.href;
        }, 100);
      }
    </script>

    {% include ga.html %}
</head>
<body>
    {{ content }}
</body>
</html>
